h3{text-align: right; line-height: 0px; }
pre{text-align: right; font-size: 14px; line-height: 14px;}
address{ text-align: right; line-height: 14px;}
.kon{text-align: left; font-weight: 900; font-size: 14px;}
h2{margin-left: 40px; font-family: 'Marck Script', cursive;}
p{text-indent: 40px; font-family: 'Marck Script', cursive;}
